@import url('https://fonts.googleapis.com/css2?family=Kulim+Park&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

body {
    background-color: #272727;
    color: white;
    margin-top: 120px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #232323;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
}


.logo {
    color: #8361FF;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative;
}

nav ul li a.active,
nav ul li a:hover {
    color: #8361FF;
    transition: 0.3s;

}

nav ul li a.active::after,
nav ul li a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #8361FF;
    transition: 0.3s;

}
  
  /* Botão de voltar */
  .btn-back {
    background-color: #3e3e3e;
    padding: 8px 16px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 30px;
  }
  
  /* Container principal */
  .project-container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;

  }
  
  /* Conteúdo da esquerda */
  .left-content {
    flex: 1;
  }
  
  .project-title {
    text-align: left;
    font-size: 40px;
    color: #8361FF;
    margin-bottom: 5px;
    text-shadow: 1px 4px 3px rgb(49, 33, 106);
  }
  
  .project-description {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #e0e0e0;
  }
  
  /* Botão de download */
  .btn-download {
    background-color: #8361FF;
    border: 1px solid #8361FF;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(131, 97, 255, 0.6);
    font-family: 'Kulim Park';
  }
  
  .btn-download:hover {
    background-color: #8361FF;
    box-shadow: 0 0 15px rgba(131, 97, 255, 1);
  }
  
  .tools-title {
    text-align: left;
    font-size: 23px;
    color: #ffffff;
    margin-bottom: 15px;
    text-shadow: 1px 4px 3px rgb(17, 17, 17);
  }
  
  .tools {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .tool {
    border: 2px solid #8361FF;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 14px;
    background: transparent;
    color: white;
    transition: background 0.3s;
    
  }
  
  .tool:hover {
    background: #8361FF;
  }
  
  /* Conteúdo da direita */
  .right-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* Imagem do projeto */
  .project-image {
    background-color: #cccccc;
    width: 100%;
    height: 300px;
    border-radius: 10px;
  }
  
  /* Objetivo do Projeto */
  .project-objective {
    background-color: #2b2b2b;
    padding: 30px;
    border-radius: 10px;
  }
  
  .project-objective h3 {
    text-align: left;
    font-size: 23px;
    color: #ffffff;
    margin-bottom: 25px;
    text-shadow: 1px 4px 3px rgb(17, 17, 17);
  }
  
  
  .project-objective ul {
    padding-left: 20px;
    list-style-type: disc;
  }
  
  .project-objective li {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  /* Responsividade */
  @media (max-width: 900px) {
    .project-container {
      flex-direction: column;
    }
  
    .right-content {
      margin-top: 30px;
    }
  }
  

  

  .footer {
    text-align: center;
    padding: 20px;
    background-color: #1b1b1b;
    color: #ffffff;
    font-family: 'Kulim Park';
    font-size: 14px;
    margin-top: 50px;
  }