@import url('https://fonts.googleapis.com/css2?family=Kulim+Park&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

body {
    background-color: #272727;
    color: white;
    margin-top: 120px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #232323;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
}


.logo {
  color: #8361FF;
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  position: relative;
}

nav ul li a.active,
nav ul li a:hover {
  color: #8361FF;
  transition: 0.3s;

}

nav ul li a.active::after,
nav ul li a:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #8361FF;
  transition: 0.3s;

}
nav .menu-icon{
cursor: pointer;
font-size: 25px;
color: #fff;
display: none;
}
nav .close-icon{
cursor: pointer;
display: none;
color: #fff;
font-size: 30px;
}

@media (max-width: 768px) {
nav ul {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8361FF;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: circle(0% at 100% 0);
  transition: clip-path 0.6s ease-in-out;
  z-index: 999;
  gap: 30px;
}

nav ul.open {
  clip-path: circle(141.4% at 100% 0);
}

nav .menu-icon {
  display: block;
}

nav .close-icon {
  display: block;
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
  z-index: 1000;
}

nav ul li a {
  font-size: 30px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}
nav ul li a:hover {
  color: rgb(255, 255, 255);
}

nav ul li a.active::after,
nav ul li a:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition: 0.8s;

}
}

  
  /* Botão de voltar */ 
  .btn-back {
    background-color: #3e3e3e;
    padding: 8px 16px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 30px;
  }
  
  /* Container principal */
  .project-container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;

  }
  
  /* Conteúdo da esquerda */
  .left-content {
    flex: 1;
  }
  
  .project-title {
    text-align: left;
    font-size: 40px;
    color: #8361FF;
    margin-bottom: 5px;
    text-shadow: 1px 4px 3px rgb(49, 33, 106);
  }
  
  .project-description {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #e0e0e0;
  }
  
  /* Botão de download */
  .btn-download {
    background-color: #8361FF;
    border: 1px solid #8361FF;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-top: -30px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(131, 97, 255, 0.6);
    font-family: 'Kulim Park';
  }
  
  .btn-download:hover {
    background-color: #8361FF;
    box-shadow: 0 0 15px rgba(131, 97, 255, 1);
  }
  
  .tools-title {
    text-align: left;
    font-size: 23px;
    color: #ffffff;
    margin-bottom: 15px;
    text-shadow: 1px 4px 3px rgb(17, 17, 17);
  }
  
  .tools {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .tool {
    border: 2px solid #8361FF;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 14px;
    background: transparent;
    color: white;
    transition: background 0.3s;
    
  }
  
  .tool:hover {
    background: #8361FF;
  }
  
  /* Conteúdo da direita */
  .right-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* Imagem do projeto */
  .project-image {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
  }
  
  /* Objetivo do Projeto */
  .project-objective {
    background-color: #2b2b2b;
    padding: 30px;
    border-radius: 10px;
  }
  
  .project-objective h3 {
    text-align: left;
    font-size: 23px;
    color: #ffffff;
    margin-bottom: 25px;
    text-shadow: 1px 4px 3px rgb(17, 17, 17);
  }
  
  
  .project-objective ul {
    padding-left: 20px;
    list-style-type: disc;
  }
  
  .project-objective li {
    margin-bottom: 10px;
    font-size: 16px;
  }

.project-description {
  max-height: none;
  overflow: visible;
  position: relative;
  transition: max-height 0.3s ease;
}
 .project-description.expandido {
  max-height: none;
}
.read-more-btn {
  display: none;
}
  .image-modal {
  display: none;
  position: fixed;
  z-index: 99;
  padding-top: 50%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 100%;
}

.image-modal .close {
  position: absolute;
  top: 100px;
  right: 50px;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}

  /* Responsividade */
  @media (max-width: 900px) {
    .project-container {
      flex-direction: column;
       margin-left: 60px;
      margin-right: 60px;
      text-align: justify;
    }
  
    .right-content {
      margin-top: -10px;
    }
    .project-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
  }
 
.read-more-btn {
  display: block;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.618);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: -30px;
  margin-left: -10px;

}
.project-description {
  max-height: 100px;
  overflow: hidden;
  position: relative;
}

.project-description.expandido {
  max-height: none;
}
.btn-back {
    margin-left: 60px;
  }
  
  
  }
  

  

  .footer {
    text-align: center;
    padding: 20px;
    background-color: #1b1b1b;
    color: #ffffff;
    font-family: 'Kulim Park';
    font-size: 14px;
    margin-top: 50px;
  }

  
@media (max-width: 768px) {
  nav ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8361FF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: circle(0% at 100% 0);
    transition: clip-path 0.6s ease-in-out;
    z-index: 999;
    gap: 30px;
  }

  nav ul.open {
    clip-path: circle(141.4% at 100% 0);
  }

  nav .menu-icon {
    display: block;
  }

  nav .close-icon {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    z-index: 1000;
  }

  nav ul li a {
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
  }
  nav ul li a:hover {
    color: rgb(255, 255, 255);
  }

  nav ul li a.active::after,
nav ul li a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: 0.8s;

}
}

